<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/admin/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="/public/css/admin/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" href="/public/css/admin/style.css" />
    <title>Kare-Kamal | Admin</title>
  </head>
  <body onload="fetchDonation()">
    <span id="page-index" data-index="8"></span>
    <!-- top navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="nav-bar">
    </nav>
    <!-- top navigation bar -->
    <!-- offcanvas -->
    <div
      class="offcanvas offcanvas-start sidebar-nav bg-dark"
      tabindex="-1"
      id="sidebar"
    >
    </div>
    <!-- End offcanvas -->
    <main class="mt-5 pt-3">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 mb-4">
            <h4>Dashboard</h4>
          </div>
        </div>
        <div class="table-shadow">
          <h5 class="text-success" id="loading-text">Loading...</h5>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Email</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody class="table-body-main">
                </tbody>
              </table>
        </div>
      </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/public/js/admin/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js"></script>
    <script src="/public/js/admin/jquery-3.5.1.js"></script>
    <script src="/public/js/admin/jquery.dataTables.min.js"></script>
    <script src="/public/js/admin/dataTables.bootstrap5.min.js"></script>
    <script src="/public/js/admin/script.js"></script>
    <script src="/public/js/admin/donation.js"></script>
    <script src="/public/js/admin/dashboard.js"></script>
  </body>
</html>